.link-active{
  background-color: hsl(32, 100%, 59%);
}
header {
  background-color: #333;
  padding-inline: 15px; 
}
.navbar {
  background-color: #333; 
  color: white; 
  padding: 10px; 
  margin-bottom: 20px; 
  width: 100%;
}

.navbar a.navbar-item {
  color: white; 
  padding: 10px; 
}

.navbar a.navbar-item:hover {
  color: #ccc; 
}


:root {
  
  --rich-black-fogra-29: hsl(210, 26%, 7%);
  --champagne-pink_20: hsla(23, 61%, 86%, 0.2);
  --independence_30: hsla(245, 17%, 29%, 0.3);
  --gray-x-11-gray: hsl(0, 0%, 73%);
  --champagne-pink: hsl(23, 61%, 86%);
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --deep-saffron: hsl(32, 100%, 59%);
  --dark-orange: hsl(28, 100%, 58%);
  --desert-sand: hsl(23, 49%, 82%);
  --isabelline: hsl(38, 44%, 96%);
  --gainsboro: hsl(0, 0%, 87%);
  --tangerine: hsl(31, 84%, 50%);
  --cinnabar: hsl(3, 90%, 55%);
  --black_95: hsla(0, 0%, 0%, 0.95);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 27%);
}

li { list-style: none; }


.btn-hover {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: hsl(28, 100%, 58%);
}

a {
  text-decoration: none;
  color: inherit;
}
a,
img,
svg,
span,
input,
select,
button,
textarea,
ion-icon { display: block; 
}

img { height: auto; }

input,
select,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea { width: 100%; }
button { cursor: pointer; }

//.container { padding-inline: 15px; }

.h1,
.h2,
.h3,
.h4 {
  font-family: var(--ff-rubik);
  color: var(--rich-black-fogra-29);
  line-height: 1.2;
  letter-spacing: -1px;
}

//section button
.btn {
background-color: hsl(28, 100%, 58%);
  color: var(--white);
  font-family: var(--ff-rubik);
  font-size: var(--fs-4);
  font-weight: var(--fw-500);
  height: var(--height, 45px);
  padding-inline: var(--padding-inline, 35px);
  transition: var(--transition-1);
}
.socialtop {
  float: right;
  margin-right: 5%;
}

/*.btn-hover ::after{
  content: "";
  position: absolute;
  bottom: -1px;
  left: 20px;
  width: 1px;
  height: 1px;
  transform: translate(-50%, 51%) scale(var(--scale, 1));
  border-radius: 50%;
  background-color: var(--rich-black-fogra-29);
  z-index: -1;
  transition: var(--transition-2);
}*/

/*.btn-hover:is(:hover, :focus)::after { --scale: 500; }**/


/*
* {
  background: #444;
font-family: 'Outfit', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: none;
text-transform: capitalize;
transition: .2s linear;

}*/


 /*
 body{
 background: #222;
 }
 
 .hedear{
 position: fixed;
 top: 0;left: 0;right: 0;
 z-index: 10000;
 background:#333;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 1.5rem 9%;
 }
 .hedear .logo{
 font-weight: bolder;
 color: #fff;
 font-size: 2.5rem;
 
 }
 .hedear .logo span{
 color: var(--main-color);
 }
 .hedear .navbar a{
 font-size: 1.7rem;
 color: #fff !important;
 }*/
 /** {
  margin: 0;
  padding: 0;

}
body {
  font-family: 'Montserrat', sans-serif;
}
#header{
  background-image: url("https://img.appcraft.events/v7/www.appcraft.events/wp-content/uploads/2022/08/pexels-fauxels-3183150-scaled.jpg?func=bound&w=1024&h=1024");
  height: 80vh;
  background-size: cover;
  background-position:center;
}
.navbar {
  background-image: linear-gradient(to right, #454546, #0a0a0a);
  padding: 0 !important;
}
.navbar-nav li a{
  float: right;
  color: #fff !important;
}
.navbar-toggler{
  border: none !important;
  outline: none !important;
}
nav .fa-bars{
  color: #fff;
  font-size: 26px;

}
h1{
color: white;
margin: 20px;
}
*/