* {
  padding-inline: 15px; 
   }
  :root {
  
    --rich-black-fogra-29: hsl(210, 26%, 7%);
    --champagne-pink_20: hsla(23, 61%, 86%, 0.2);
    --independence_30: hsla(245, 17%, 29%, 0.3);
    --gray-x-11-gray: hsl(0, 0%, 73%);
    --champagne-pink: hsl(23, 61%, 86%);
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --deep-saffron: hsl(32, 100%, 59%);
    --dark-orange: hsl(28, 100%, 58%);
    --desert-sand: hsl(23, 49%, 82%);
    --isabelline: hsl(38, 44%, 96%);
    --gainsboro: hsl(0, 0%, 87%);
    --tangerine: hsl(31, 84%, 50%);
    --cinnabar: hsl(3, 90%, 55%);
    --black_95: hsla(0, 0%, 0%, 0.95);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 27%);
  }
  .btn {
    background-color: hsl(28, 100%, 58%);
    color: hsl(0, 0%, 100%);
      font-family: var(--ff-rubik);
      font-size: var(--fs-4);
      font-weight: var(--fw-500);
      height: var(--height, 45px);
      padding-inline: var(--padding-inline, 35px);
      transition: var(--transition-1);
    }
    a,
    img,
    svg,
    span,
    input,
    select,
    button,
    textarea,
    ion-icon { display: block; 
    }
  
  img { height: auto; }
  
  input,
  select,
  button,
  textarea {
    background: none;
    border: none;
    font: inherit;
  }
  
  button { cursor: pointer; }


  .hero-banner { display: none; }

  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: 145px 60px ;
    text-align: center;
  }
.hero-title {
  color: var(--champagne-pink);
  max-width: 12ch;
  margin-inline: auto;
}

.hero-text {
  color: var(--desert-sand);
  margin-block: 15px 30px;
  max-width: 44ch;
  margin-inline: auto;
}
.hero .btn { 
  margin-inline: auto; 
  }

.btn-container {
  display: inline-block;
}
/*
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
/*
#home{
  padding-top: 5%;
}
.welcome{
padding: 50px 50px;
margin-top: -140px;
background-color: #fff;
box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.2);
}
.welcome h1{
  color: #a88007;
}
.grenade{
  width: 50px;
}
.grenade:hover{
  transform:translateY(-10px);}
*/