<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
</style>
<body>


    <div class="scroll-container">
      <img src="https://gcdn.imgix.net/events/soiree-soufi-tunisie.jpg" alt="Cinque Terre" width="600" height="400">
      <img src="https://www.aquasunvoyage.com/public/images/image/image_1575628605.jpg" alt="Forest" width="600" height="400">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsVrpsa-_2R8lLuywMR7f0uCn1mGiC4UeRbWmDzNZv6Xcut_4flfC2WFDEZbfF8pWDewI&usqp=CAU" alt="Northern Lights" width="600" height="400">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDC6RnYdu0LOQgYAD-vk_7zquER8fUWW7XZFctlg6L4-elIvrVypxS6GlTljsD81tDAhc&usqp=CAU" alt="Mountains" width="600" height="400">
    </div>   
    
  <div class="container">
    <h2 style="text-align: center; color: blue;">Get your Ticket NOW !</h2> <br>
   
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/lights.jpg" target="_blank">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBZDVb56h4OUVMMPtHIjUho90J4nAVp357nA&usqp=CAU" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/nature.jpg" target="_blank">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBZDVb56h4OUVMMPtHIjUho90J4nAVp357nA&usqp=CAU" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/fjords.jpg" target="_blank">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBZDVb56h4OUVMMPtHIjUho90J4nAVp357nA&usqp=CAU" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  </body>

  
  
  