.table-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .table {
    margin-bottom: 0;
  }
  body {
    overflow-y: auto; /* Activer le défilement vertical */
    max-height: 100vh; /* Hauteur maximale égale à la hauteur de la fenêtre */
  }
  
  