<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->
  
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Sign up now</h2>
            <form (ngSubmit)="login()">
            

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" placeholder="Email Address" name="email"[(ngModel)]="loginData.email"/>
                
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" placeholder="Password"name="password" [(ngModel)]="loginData.password"/>
                
              </div>

           

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4" >
                Sign up
              </button>
              <div class="text-center">
                <p>Not a member? <a href="register">Register</a></p>
              </div>

              <!-- Register buttons -->
              <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>

              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://images.unsplash.com/photo-1519750157634-b6d493a0f77c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>

    
      <div class="right">
      <h1>Login</h1>
      <p>Don't have an account? <a [routerLink]="['/auth/register']">Creat Your Account</a> it takes less than a minute</p>
      <div class="inputs">
        <input type="text" placeholder="user name">
        <br>
        <input type="password" placeholder="password">
      </div>
        
        <br><br>
        
      <div class="remember-me--forget-password">
          <!-- Angular -->
    <label>
      <input type="checkbox" name="item" checked/>
      <span class="text-checkbox">Remember me</span>
    </label>
        <p>forget password?</p>
      </div>
        
        <br>
        <button>Login</button>
    </div>
    

  </div>

  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->